<br />
<br />
<input
  type="file"
  name="photo"
  class="mainPage"
  ng2FileSelect
  [uploader]="uploader"
/>

<button
  style="font-size: 24px; background-color: #008CBA;"
  type="button"
  class="btn btn-primary"
  (click)="uploader.uploadAll()"
  [disabled]="!uploader.getNotUploadedItems().length"
>
  Upload a dataset
</button>

<!-- <h1 style="color:#5F9EA0;">{{ uploadedDatasetId }}</h1> -->

<!-- <a routerLink="/uploadedFileResults/{{ uploadedDatasetId }}"
  ><button style="font-size: 24px;" class="btn btn-success pull-right">
    Results
  </button></a
> -->
<button (click)="refresh()">Refresh</button>
