<div class="alert alert-success" *ngIf="successMsg">
  <p>Dataset deleted.</p>
</div>

<div class="alert alert-danger" *ngIf="errorMsg">
  <p>Error deleting dataset.</p>
</div>

<app-upload-component></app-upload-component>
<br />
<br />
<h1>All datasets</h1>
<br />

<table class="table">
  <tr bgcolor="#f9f9f9">
    <th>Dataset name</th>
    <th>Get cross validation results</th>
    <th>Get bagging results</th>
    <th>Get boosting results</th>
    <th>Get best result</th>
    <th>Delete dataset</th>
  </tr>

  <tr *ngFor="let dataset of datasets?.value">
    <td>
      {{ dataset.datasetName }}
    </td>
    <td>
      <a routerLink="/crossValidationResuls/{{ dataset.id }}"
        >CrossValidation</a
      >
    </td>
    <td>
      <a routerLink="/baggingResults/{{ dataset.id }}">Bagging</a>
    </td>
    <td>
      <a routerLink="/boostingResults/{{ dataset.id }}">Boosting</a>
    </td>
    <td>
      <a routerLink="bestResult/{{ dataset.id }}">Best result</a>
    </td>
    <td>
      <a (click)="deleteDataset(dataset.id)" routerLink="/">Delete</a>
    </td>
  </tr>
</table>
